<!DOCTYPE html>
{% autoescape true %}

<html>
  <body>
    <p> Testing 1....2.....3 </p>
    {% for box in boxes %}
      {% if checked %}
         <input type = "checkbox" checked> {{ box }}
      {% else %}
      {% endif %}
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form method="post"> Checkboxes:
      {% for box in boxes %}
      {% if boxes [box] %}
       <input type = "checkbox" name = "{{box}}" value = "1" checked> {{box}}
      {% else %}
       <input type = "checkbox" name = "{{box}}" value = "1" > {{box}}
      {% endif %}

      {% endfor %} 
      <input type = "submit" value = "Submit" >
    </form> 
    
    <form action = "/add" method = "post"> Checkboxes1
	<input type = "checkbox" name = "added_cb">
    </form> 

    <br>
    <!-- <form>
      <input type = "checkbox" name = "cb1" value = "fun"> Fun
      <input type = "checkbox" name = "cb2" value = "happy"> Happy
      <input type = "submit" value = "Submit" >
    </form> -->
      
    
    <a href="{{ url|safe }}">{{ url_linktext }}</a>


  </body>
</html>
{% endautoescape %}
